.THIS{
    margin-bottom:5px;    
}

.THIS .uiInput--datetime .datePicker-openIcon{
    height:30px !important;
}

.THIS .requiredFilter{
     border-color : #c23934; 
}

.THIS .slds-tree__item{
    padding-left:40px !important; 
    padding-right:10px;  
    padding-bottom:5px;
}

.THIS .slds-tree__item.no-left-padding{
    padding-left:0 !important;
    background-color : #f4f6f9;
}

.THIS .icon-padding{
    padding : 0 10px 0 10px;
}

.THIS .filter-form{
    width:100%;
}

.THIS .slds-align-middle{
    margin-top:3px;
}